.landing-page {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(243.4, 248.4, 246.57) 49.91%,
    rgb(255, 249.2, 244.55) 94.19%
  );
  background-color: rgba(255, 255, 255, 1);
  height: 1388px;
  position: relative;
  width: 1440px;
}

.landing-page .text-wrapper {
  color: #54575a;
  font-family: "Futura PT-Demi", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 221px;
  letter-spacing: 0;
  line-height: 67.5px;
  position: absolute;
  top: 235px;
  width: 458px;
}

.landing-page .p {
  color: #54575a;
  font-family: "Futura PT-Book", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 221px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 402px;
  width: 394px;
}

.landing-page .google-play-badge-US {
  height: 46px;
  left: 382px;
  position: absolute;
  top: 531px;
  width: 156px;
}

.landing-page .app-store-badge-US {
  height: 46px;
  left: 221px;
  position: absolute;
  top: 531px;
  width: 138px;
}

.landing-page .overlap-group {
  height: 722px;
  left: 181px;
  position: absolute;
  top: 666px;
  width: 1078px;
}

.landing-page .home {
  height: 500px;
  left: 774px;
  object-fit: cover;
  position: absolute;
  top: 222px;
  width: 304px;
}

.landing-page .cart {
  height: 251px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 471px;
  width: 304px;
}

.landing-page .orders {
  height: 495px;
  left: 258px;
  object-fit: cover;
  position: absolute;
  top: 227px;
  width: 304px;
}

.landing-page .product {
  height: 251px;
  left: 516px;
  object-fit: cover;
  position: absolute;
  top: 471px;
  width: 304px;
}

.landing-page .profile {
  height: 524px;
  left: 516px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 304px;
}

.landing-page .habitual-branding {
  height: 48px;
  left: 221px;
  position: absolute;
  top: 50px;
  width: 193px;
}

.landing-page .main-image {
  height: 309px;
  left: 683px;
  position: absolute;
  top: 230px;
  width: 536px;
}

.landing-page .iphone {
  height: 385px;
  left: -26px;
  object-fit: cover;
  position: absolute;
  top: -7px;
  width: 591px;
}
